<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<link href="/display.css" rel="stylesheet">
</head>
<body>
	<div th:object="${doctor}">

			<form action="/doctor/edit" method="POST">
			<section>
				<h1>Update Doctor Profile</h1>
				<p>
					<span th:text="${message}"></span>
				</p>

				<p>
					<label for="doctorSSN"> <span>Doctor SSN: </span>
					</label> <input type="text" id="doctorSSN" th:field="*{doctorSSN}"  readonly />
				</p>
				<p>
					<label for="fName"> <span>First Name: </span>
					</label> <input type="text" id="fName" th:field="*{fName}"  readonly />
				</p>
				<p>
					<label for="lName"> <span>Last Name: </span>
					</label> <input type="text" id="lName" th:field="*{lName}"  readonly />
				</p>
				<p>
					<label for="specialty"> <span>Specialty: </span>
					</label> <input type="text" id="specialty" th:field="*{specialty}" />
				</p>
				<p>
					<label for="startDate"> <span>Start Date practicing Medicine (YYYY-MM_DD): </span>
					</label> <input type="text" id="startDate" th:field="*{startDate}" />
				</p>

				</section>
				<p>
					<button type="submit">Submit Change</button>
				</p>
			</form>
		
	</div>
</body>

</html>
