<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<link href="/display.css" rel="stylesheet">
</head>
<body>

	<form  action="/doctor/get/" th:object="${doctor}" method="POST">
		<section>
			<h1>Enter Doctor SSN:</h1>
			<p>
				<span th:text="${message}"></span>
			</p>
			<p>
				<label for="doctorSSN"> <span>ID: </span>
				</label> <input type="text" id="doctorSSN" th:field="*{doctorSSN}" />
			</p>
			<p>
				<button type="submit">Get Doctor Profile</button>
			</p>
		</section>
	</form>

</body>
</html>