<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<link href="/display.css" rel="stylesheet">
</head>
<body>
	<form action="/patient/new" th:object="${patient}" method="POST">
		<h1>Register as new patient</h1>
		<p>
			<span th:text="${message}"></span>
		</p>
		<section>
			<p>
				<label for="patientSSN"> <span>Your SSN: </span>
				</label> <input type="password" id="patientSSN" th:field="*{patientSSN}" />
			</p>
			<p>
				<label for="fName"> <span>Your First Name: </span>
				</label> <input type="text" id="fName" th:field="*{fName}" />
			</p>
			<p>
				<label for="lName"> <span>Your Last Name: </span>
				</label> <input type="text" id="lName" th:field="*{lName}" />
			</p>
			<p>
				<label for="birthdate"> <span>Birth Date: </span>
				</label> <input type="date" id="birthdate" th:field="*{birthdate}" />
			</p>
			<p>
				<label for="street"> <span>Street: </span>
				</label> <input type="text" id="street" th:field="*{street}" />
			</p>
			<p>
				<label for="city"> <span>City: </span>
				</label> <input type="text" id="city" th:field="*{city}" />
			</p>
			<p>
				<label for="state"> <span>State: </span>
				</label> <input type="text" id="state" th:field="*{state}" />
			</p>
			<p>
				<label for="zip"> <span>Zip: </span>
				</label> <input type="text" id="zip" th:field="*{zip}" />
			</p>
			<p>
				<label for="doctorSSN"> <span>Primary Physician
						SSN: </span>
				</label> <input type="text" id="doctorSSN" th:field="*{doctorSSN}" />
			</p>
		</section>
		<p>
			<button type="submit">Register</button>
		</p>
	</form>
</body>
</html>
