<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<link href="/display.css" rel="stylesheet">
</head>
<body>
	<p>
		<span th:text="${message}"></span>
	</p>
	<div th:object="${prescription}">
		<table>
			<tr>
				<td>Rx:</td>
				<td><span th:text="*{RX}"></span></td>
			</tr>
			<tr>
				<td>Doctor:</td>
				<td><span th:text="*{doctorSSN}"></span></td>
			</tr>
			<tr>
				<td>First Name:</td>
				<td><span th:text="*{doctorFName}"></span></td>
			</tr>
			<tr>
				<td>Last Name:</td>
				<td><span th:text="*{doctorLName}"></span></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Patient:</td>
				<td><span th:text="*{patientSSN}"></span></td>
			</tr>
			<tr>
				<td>First Name:</td>
				<td><span th:text="*{patientFName}"></span></td>
			</tr>
			<tr>
				<td>Last Name:</td>
				<td><span th:text="*{patientLName}"></span></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Drug:</td>
				<td><span th:text="*{drugName}"></span></td>
			</tr>
			<tr>
				<td>Quantity:</td>
				<td><span th:text="*{qty}"></span></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Pharmacy:</td>
				<td><span th:text="*{pharmacyID}"></span></td>
			</tr>
			<tr>
				<td>Name:</td>
				<td><span th:text="*{pharmacyName}"></span></td>
			</tr>
			<tr>
				<td>Address:</td>
				<td><span th:text="*{pharmacyStreet}"></span></td>
			</tr>
			<tr>
				<td>Address:</td>
				<td><span th:text="*{pharmacyCity}"></span></td>
			</tr>
			<tr>
				<td>Address:</td>
				<td><span th:text="*{pharmacyState}"></span></td>
			</tr>
			<tr>
				<td>Address:</td>
				<td><span th:text="*{pharmacyZip}"></span></td>
			</tr>
			<tr>
				<td>Phone:</td>
				<td><span th:text="*{pharmacyPhone}"></span></td>
			</tr>
			<tr>
				<td>Date Filled:</td>
				<td><span th:text="*{dateFilled}"></span></td>
			</tr>
			<tr>
				<td>Cost: </td>
				<td>$<span th:text="*{cost}"></span></td>
			</tr>
		</table>

		<p>
			<a href="/">Main Menu</a>
		</p>
	</div>
</body>
</html>