<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<link href="/display.css" rel="stylesheet">
</head>
<body>
	<form action="/prescription" th:object="${prescription}" method="POST">
		<h1>New Prescription Form</h1>
		<p>
			<span th:text="${message}"></span>
		</p>
		<section>
			<p>
				<label for="doctorSSN"> <span>Doctor SSN: </span>
				</label> <input type="text" id="doctorSSN" th:field="*{doctorSSN}" />
			</p>
			<p>
				<label for="doctorFName"> <span>Doctor First Name: </span>
				</label> <input type="text" id="doctorFName" th:field="*{doctorFName}" />
			</p>
			<p>
				<label for="doctorLName"> <span>Doctor Last Name: </span>
				</label> <input type="text" id="doctorLName" th:field="*{doctorLName}" />
			</p>
			<p>
				<label for="patientSSN"> <span>Patient SSN: </span>
				</label> <input type="text" id="patientSSN" th:field="*{patientSSN}" />
			</p>
			<p>
				<label for="patientFName"> <span>Patient First Name: </span>
				</label> <input type="text" id="patientFName" th:field="*{patientFName}" />
			</p>
			<p>
				<label for="patientLName"> <span>Patient Last Name: </span>
				</label> <input type="text" id="patientLName" th:field="*{patientLName}" />
			</p>
			<p>
				<label for="drugName"> <span>Drug Name: </span>
				</label> <input type="text" id="drugName" th:field="*{drugName}" />
			</p>
			<p>
				<label for="qty"> <span>Quantity: </span>
				</label> <input type="number" id="qty" th:field="*{qty}" />
			</p>
		</section>
		<p>
			<button type="submit">Create Prescription</button>
		</p>
	</form>
</body>
</html>
